
p{
	background-color:white;
	color:black;
    font-size: 120%;
    font-family: Georgia;
    

}
 img{
	width:30%;
	height:300px;
	
}
 div{
 	display: block;

}
h1{
	background-color: white;
	color: blue;
	text-align: center;

}
h2{
	text-align: center;
}

.box{
	background-color: white;
}




	

















	
   



	
	
	
	



 
  

